
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

@Html.ActionLink("Artist", "Index", "Artists", null, new { @class = "navbar-brand" })
@Html.ActionLink("Genres", "Index", "Genres", null, new { @class = "navbar-brand" })
