@model MvcSampleApp.Models.ArtistViewModel
@{
    ViewBag.Title = "New Artist";
}

<h2>New Artist</h2>

@using (Html.BeginForm("New","Artists", FormMethod.Post))
{
    @Html.ValidationSummary(true);
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <input type="submit" value="Save" />
}